
body{
    margin: 0px;
    padding: 2rem 4rem;
    background-color: #dedede;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
}
main { 
    width: 100%;
    display: flex;
    justify-content: center;
}
main >* {    
    width: 60%;
    background-color: #fff;
    padding: 50px;
}
.btn{
    padding: 12px 24px;
    border: 1px solid;
    border-radius: 20px;
    background-color: coral;
    color: #fff;
    cursor: pointer;
}
.header{
    text-align: center;
    padding: 20px;
}
 
.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 20px 0px;
}
.text-center{
    text-align: center;
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 48%;
}
.formInput{
    padding: 4px;
    width: 100%;
    border: 1px solid #888;
    border-radius: 1px;    
}
.table{
    margin: 10px 0px 0px 0px;
    width: 100%;
}
.table tr th{
    padding: 10px;
}
.table tr td{
    padding: 20px;
}
.pt-1{
    padding-top: 20px;
} 
 
/* .filterPills{
 
} */
.filterPill{
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0px 10px;
}
.filterPill:hover{
    background-color: #dedede;
}
.filterPill.active{
    background-color: #ccc;
}
.title{
    text-decoration: underline;
}
.success-btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: green;
    color: #fff;
    border: 1px solid;
}
.danger-btn{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    border: 1px solid;
}